ul a.brand-logo:hover {
    background-color: transparent !important;
}

.dropdown-container .dropdown-menu{
    position: absolute;
    display: none;
    width: 160px;
} 

.dropdown-container:hover .dropdown-menu {
    display: block;
    z-index: 10;
}

.dropdown-menu:before,
.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 20px;
    border: transparent solid 10px;
    border-bottom: #c2185b solid 10px;
}

.dropdown-menu li {
    height: 40px;
    overflow: hidden;
    width: 100%;
} 

.dropdown-menu li a { 
    line-height: 40px;
}