.splash-screen {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: table-cell;
   vertical-align: middle;
}

.splash-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-content img {
    width: initial;
}

.progressbar {
    width: 150px;
}

